streamlit>=1.28.0
streamlit
pandas
yfinance>=0.2.40
numpy
yfinance
plotly
PyGithub
matplotlib
PyGithub
requests
requests-cache
feedparser
streamlit-lottie
google-generativeai
feedparser
fpdf
extra-streamlit-components
kaleido
wordcloud
pytz
aiohttp==3.9.3
prophet
plaid-pytho
