streamlit>=1.28.0
pandas
yfinance>=0.2.40
plotly
PyGithub
matplotlib
requests
requests-cache
streamlit-lottie
google-generativeai
feedparser
fpdf
extra-streamlit-components
kaleido
wordcloud
prophet
plaid-python
gTTS
streamlit-mic-recorder
