name: Denní Report (Alex)

on:
  schedule:
    # 2:00 UTC = 3:00 CZ (v zimě)
    - cron: '0 2 * * *'
  
  workflow_dispatch: # Tlačítko pro ruční spuštění

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Povolení zapisovat do repozitáře

    steps:
    - name: Stáhnout kód
      uses: actions/checkout@v3

    - name: Nastavit Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalovat knihovny
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Spustit Alexe
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
        TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        GEMINI_API_KEY: ${{ secrets.API_KEY }}
      run: python bot.py
