name: Denní Report (Bot)

on:
  schedule:
    # 22:02 UTC = 23:02 v ČR (zima)
    - cron: '0 3 * * *'
  
  workflow_dispatch:
    inputs:
      typ_zpravy:
        description: 'Co mám provést?'
        required: true
        default: 'Standardní Report'
        type: choice
        options:
        - Standardní Report
        - Jenom Vtip
        - Test Spojení
      
      vzkaz:
        description: 'Připsat poznámku do reportu?'
        required: false
        type: string

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Trading Bot
      env:
        TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
        TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        # Tady je to propojení:
        GEMINI_API_KEY: ${{ secrets.API_KEY }} 
        INPUT_TYP: ${{ inputs.typ_zpravy }}
        INPUT_VZKAZ: ${{ inputs.vzkaz }}
      run: python bot.py
