name: Denn칤 Report (Bot)

# Kdy se to m치 spustit?
on:
  schedule:
    # 丘멆잺 캛as je v UTC!
    # Nastaveno na 20:12 UTC = 21:12 v 캛R (zima)
    # Pou쮂셨치me "divnou minutu" (12), abychom p콏edb캩hli frontu na GitHub serverech
    - cron: '2 22 * * *'
  
  # Toto umo쬹칤 ru캜n칤 spu코t캩n칤 tla캜칤tkem "Run workflow" (pro testov치n칤)
  # Neboj, ru캜n칤 spu코t캩n칤 NIJAK neovlivn칤 to automatick칠!
  workflow_dispatch:
  
    inputs:
      typ_zpravy:
        description: 'Co m치m prov칠st?'
        required: true
        default: 'Standardn칤 Report'
        type: choice
        options:
        - Standardn칤 Report
        - Jenom Vtip
        - Test Spojen칤
      
      vzkaz:
        description: 'P콏ipsat pozn치mku do reportu?'
        required: false
        type: string

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Trading Bot
      env:
        TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
        TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
        # 游녢 TADY MUS칈 B칗T TOTO PROPOJEN칈:
        GEMINI_API_KEY: ${{ secrets.API_KEY }} 
        INPUT_TYP: ${{ inputs.typ_zpravy }}
        INPUT_VZKAZ: ${{ inputs.vzkaz }}
      run: python bot.py
